[*.cs]

# GlobalUsingsAnalyzer: Using should be in global file
dotnet_diagnostic.GlobalUsingsAnalyzer.severity = none

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# VSTHRD111: Use ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = none

# VSTHRD100: Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = suggestion

# RCS1133: Remove redundant Dispose/Close call.
dotnet_diagnostic.RCS1133.severity = error

# RCS1080: Use 'Count/Length' property instead of 'Any' method.
dotnet_diagnostic.RCS1080.severity = error

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none